<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.tenant.name }} Restaurant POS</title>

</head>
<body>
  <center>
      <center>
        <h2>Hello everyone to {{ request.tenant.name }} gym</h2><br>
        <h3>
          Searching for
            <a href="admin/">Admin Panel</a>,
            <a href="get-device-token/">Device token</a>,
            <a href="send-notification/">Send notification</a>
            or <a href="graphql/">GraphQL Playground</a>
        </h3>
      </center>
  </center>
</body>
</html>
